@import "tailwindcss";

@theme {
  --color-*:initial;
  --color-gray-100: #ebebeb;
  --color-gray-200: #878777;
  --color-gray-300: #353b36;
  --color-black: #0d0b0b;
  --color-green-100: #2ad44c;
  --color-green-icon: #115c20;
  --color-purple-default: #ecbff5;
  --color-purple-hover: #92649c;

  --font-sans: "Inter", sans-serif;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);

}